@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --primary-magenta: hsl(300, 43%, 22%);
    --primary-pink: hsl(333, 80%, 67%);
    --secondary-d-magenta: hsl(303, 10%, 53%);
    --secondary-l-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    padding: 4rem 1rem;
    font-size: 0.938rem;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    background: url("../images/bg-pattern-top-mobile.svg") top left, url("../images/bg-pattern-bottom-mobile.svg") bottom right;
    background-repeat: no-repeat;
}

.information {
    text-align: center;
    padding-bottom: 2rem;
}

.information h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-magenta);
}

.information p {
    line-height: 28px;
    color: var(--secondary-d-magenta);
}

.rates {
    gap: 1rem;
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    flex-direction: column;
}

.rates > div {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 0.4rem;
    box-sizing: border-box;
    background-color: var(--secondary-l-magenta);
}

.rates p {
    margin: 0;
    font-weight: 700;
    padding-top: 1rem;
    color: var(--primary-magenta);
}

.comments {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    gap: 2rem;
    width: 100%;
    display: flex;
    padding: 2rem 2.3rem;
    border-radius: 0.4rem;
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--primary-magenta);
}

.card p {
    margin: 0;
    line-height: 24px;
    color: var(--white);
    font-size: 0.813rem;
}

.user {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user p {
    margin: 0;
    font-weight: 600;
    color: var(--white);
}

.user em {
    font-weight: 500;
    font-style: normal;
    font-size: 0.75rem;
    color: var(--primary-pink);
}

.attribution  {
    bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 0.688rem;
}

.attribution a {
    font-weight: 500;
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 48em) {
    body {
        width: 100vw;
        display: flex;
        padding: 5% 4%;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: url("../images/bg-pattern-top-desktop.svg") top left, url("../images/bg-pattern-bottom-desktop.svg") bottom right;
        background-repeat: no-repeat;
    }

    .product {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .information {
        flex: 1;
        text-align: left;
    }

    .rates {
        flex: 1;
        align-items: flex-start;
    }

    .comments {
        gap: 2rem;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        max-width: 351px;     
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .card:nth-child(2) {
        margin-top: 2rem;
    }

    .card:nth-child(3) {
        margin-top: 4rem;
    }
}

@media screen and (min-width: 64em) {
    .information {
        flex: none;
        width: 100%;
        max-width: 475px;
    }

    .information h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    .rates {
        flex: none;
        padding-top: 3.3rem;
    }

    .rates > div {
        gap: 2rem;
        display: flex;
        max-width: 483px;
        padding: 1rem 2rem;
        align-items: center;
    }

    .rates p {
        padding: 0;
    }
}

@media only screen and (min-width: 76.063em) {
    .product {
        gap: 4.5rem;
        justify-content: center;
    }

    .rates > div:nth-child(2) {
        margin: 0 2.7rem;
    }

    .rates > div:nth-child(3) {
        margin: 0 5.4rem;
    }
}